<svg class="map-overlay" width="4500" height="2500" xmlns="http://www.w3.org/2000/svg"> 
    {% for edge in path_edges %}
        <path d="M{{ edge.from_node.x }} {{ edge.from_node.y }} L{{ edge.to_node.x }} {{ edge.to_node.y }}"
              stroke="darkblue" stroke-width="4" fill="none" />
    {% endfor %}

    {% for node in path_nodes %}
        <circle cx="{{ node.x }}" cy="{{ node.y }}" r="10" fill="darkblue" stroke="black" stroke-width="2">
            <title>{{ node.name }}</title>
        </circle>
    {% endfor %}
</svg>
