.map-container {
    position: relative;
    width: 100%;
    max-width: 900px; /* Ограничиваем видимую область карты */
    height: 500px;     /* Ограничиваем высоту карты */
    overflow: hidden;  /* Отключаем стандартную прокрутку */
    border: 1px solid #ddd;
    margin: 0 auto;    /* Центрируем карту */
    user-select: none; /* Отключение выделения текста */
    touch-action: pan-x pan-y; /* Разрешаем прокрутку, но обработаем жесты вручную */
}

.map-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0; /* Устанавливаем точку масштабирования */
    transition: transform 0.1s ease-out; /* Плавное масштабирование */
}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Отображаем слой маршрута поверх карты */
}
.container {
}

.container {
    margin-bottom: 100px;
}